/* Réinitialisation des styles par défaut du navigateur */

/* Styles globaux */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #343a40;
}

/* En-tête */
/* Styles pour l'en-tête */
/* Styles pour l'en-tête */
header {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px; /* Augmentation de la marge intérieure pour une meilleure apparence */
    display: flex; /* Utilisation de flexbox pour aligner les éléments sur la même ligne */
    justify-content: space-between; /* Aligner les éléments à l'extrémité opposée (dans ce cas, à gauche et à droite) */
    align-items: center; /* Centrer verticalement les éléments dans le conteneur flex */
    margin-top: 20px; /* Ajout de la marge en haut */
}

/* Titre de l'en-tête */
header a {
    font-size: 36px;
    margin: 0;
    color: white;
    text-decoration: none !important;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px; /* Adjust the letter spacing as needed */
}

/* Styles pour la navigation */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Suppression de la marge par défaut du ul */
    display: flex; /* Utilisation de flexbox pour aligner les éléments sur la même ligne */
    justify-content: flex-end; /* Aligner les éléments à l'extrémité opposée (à droite) */
    margin-right: 175px;
}

nav ul li {
    margin-left: 20px; /* Ajout de marges à gauche pour séparer les éléments */
}

nav ul li:last-child {
    margin-right: 0; /* Suppression de la marge à droite pour le dernier élément */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff5733;
}


.index {
    margin-left: 190px;
}